{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Get your fortune</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	</head>
	<body>
		<div id='fortunes' class='container'>
			<h1>Testing</h1>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script>
			$(document).ready(function() {
				function createElement(type) {
					$element = $('<' + type + '>');
					$arguments = Array.prototype.slice.call(arguments, 1);
					$arguments.forEach(function(obj, index) {
						for (key in obj) {
							if (key === 'text') {
								$element.text(obj[key]);
							} else {
								$element.attr(key, obj[key]);
							}
						}
					})
					return $element;
				}
				$.get('http://localhost:8000/users/', 'json', function(users) {
					users.forEach(function(user) {
						console.log(user)
						$well = createElement('div', {class: 'panel panel-default'})
						.append(createElement('div', {class: 'panel-body', 'data-fortune-list':user.fortune_list})
						.append(createElement('p', {text: user.username, class: 'user'})));
						$('#fortunes').append($well);
					});
					$('.panel-body').on('click', function(event) {
						$url = $(this).data('fortune-list');
						$.get($url, 'json', function(fortunes) {
							$ul = $('<ul>');
							fortunes.forEach(function(fortune) {
								$li = createElement('li', {text: fortune.content});
								if (fortune.pictures.length) {
									fortune.pictures.forEach(function(picture) {
										$li.append(createElement('img', {'src': picture.image, width: '50px', height: '50px'}))
									})
								}
								$ul.append($li);
							})
							$(event.currentTarget).append($ul)
						})
					})
				})
			})
		</script>
	</body>
</html>